<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Diet Plan</title>
<!-- plugins:css -->
<link rel="stylesheet" href="{{url_for('static',filename='vendors/feather/feather.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='vendors/ti-icons/css/themify-icons.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='vendors/datatables.net-bs4/dataTables.bootstrap4.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='vendors/ti-icons/css/themify-icons.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='js/select.dataTables.min.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/vertical-layout-light/style.css')}}">
<link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static',filename='images/favicon/apple-touch-icon.png')}}">
<link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static',filename='images/favicon/favicon-32x32.png')}}">
<link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static',filename='images/favicon/favicon-16x16.png')}}">
<link rel="manifest" href="{{url_for('static',filename='images/favicon/site.webmanifest')}}">
</head>
<body>
  <div class="container-scroller">

    {% include 'includes/navbar_topbar.html' %}
    <div class="main-panel">        
      <div class="content-wrapper">
            <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Diet PLan Tracker</h4>
                    <p class="mb-4">It can help you remember what you have eaten that day. If you are also tracking calories, you can see where you can improve if you are trying to achieve a goal. It will let you see if you are eating too much or NOT enough.
                        <br></p>
                    <form method="post" action="{{ url_for('diet_tracker')}}" >
                        <div class="form-group row">
                            <label for="breakfast" class="col-sm-2 col-form-label">breakfast calories</label>
                            <div class="col-sm-10">
                              <input type="number" step="any" name="breakfast" class="form-control" id="breakfast" required="required" placeholder="How many calories did you have for breakfast ?">
                              <span  class="text-danger" id="breakfast_error"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="lunch" class="col-sm-2 col-form-label">lunch calories</label>
                            <div class="col-sm-10">
                              <input type="number" step="any" name="lunch" class="form-control" id="lunch" required="required" placeholder="How many calories did you have for lunch?">
                              <span  class="text-danger" id="lunch_error"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="dinner"  class="col-sm-2 col-form-label">dinner calories</label>
                            <div class="col-sm-10">
                              <input type="number" step="any" name="dinner" class="form-control" id="dinner" required="required" placeholder="How many calories did you have for Dinner?">
                              <span  class="text-danger" id="dinner_error"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="exercise" class="col-sm-2 col-form-label">exercise</label>
                            <div class="col-sm-10">
                              <input type="number" step="any" name="exercise" class="form-control" id="exercise" required="required" placeholder="How many calories did you burn exercise?">
                              <span  class="text-danger" id="exercise_error"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="bmr" class="col-sm-2 col-form-label">bmr</label>
                            <div class="col-sm-10">
                              <input type="number" step="any" name="bmr" class="form-control" id="bmr" required="required" placeholder="What is your basic metabolic rate?"><span  class="text-danger" id="bmr_error"></span><br>
                              <span>if you want calucate bmr value,<a href="{{url_for('bmr')}}">Click here</a></span>
                            </div>
                        </div>
                        <div class="form-group ">
                            <input type="submit"  value="Submit" class="btn btn-success" >
                        </div>
                    </form>
                  </div>
                </div>
                <div class="card-footer text-center">
                    <span class="text-danger">{{result}}</span>
                </div>
            </div>

    {% include 'includes/footer.html' %}

</body>

</html>

