<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Health Insurance amount Prediction</title>

  <link rel="stylesheet" href="{{url_for('static',filename='vendors/feather/feather.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='vendors/ti-icons/css/themify-icons.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='vendors/datatables.net-bs4/dataTables.bootstrap4.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='vendors/ti-icons/css/themify-icons.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='js/select.dataTables.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='css/vertical-layout-light/style.css')}}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static',filename='images/favicon/apple-touch-icon.png')}}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static',filename='images/favicon/favicon-32x32.png')}}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static',filename='images/favicon/favicon-16x16.png')}}">
  <link rel="manifest" href="{{url_for('static',filename='images/favicon/site.webmanifest')}}">
</head>
<body>
  <div class="container-scroller">

    {% include 'includes/navbar_topbar.html' %}

    <div class="main-panel">        
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h1 class="card-title">Get A Quick Assessment Of Health Insurance Amount With Just One Click</h1>
                <p class="card-description">
                  Health insurance is a type of insurance coverage that covers the cost of medical expenses incurred by an individual or a group. It is designed to help people pay for their medical expenses and reduce the financial burden of unexpected health issues. Health insurance plans typically cover a range of medical services, including hospitalization, doctor visits, prescription drugs, and some preventive services. The cost and coverage of a health insurance plan depend on the policyholder's age, health status, and the level of coverage they choose.
                </p>
                <img src="../static/images/healthinsurance.jpg" width="450px">
                <br>
                <br>
                <div class="card-body">
                  <h4 class="card-title">Usage of Health insurance amount prediction:</h4>
                  <ul class="list-ticked">
                    <li>Long-Term Savings.</li>
                    <li>Financial Security</li>
                    <li>Life Cover Against Uncertainty.</li>
                    <li>Retirement Planning Option.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Please fill out below details.</h4>
                
                <form class="forms-sample" action="{{ url_for('health_Insurance_predict')}}" method="post">

                    <div class="form-group row">
                        <label for="bld" class="col-sm-3 col-form-label">Age</label>
                        <div class="col-sm-9">
                          <input class="form-control" type="number" step="any" id="age" name="age" required="required" placeholder="age">
                        </div>
                      </div>

                  <div class="form-group row">
                    <label for="pain" class="col-sm-3 col-form-label">Gender</label>
                    <div class="col-sm-9">
                      <select class="form-control" id="gender" name = "gender" required="required" placeholder="Gender">
                        <option value="1">Male</option>
                        <option value="0">Female</option>
                    </select>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="ser" class="col-sm-3 col-form-label">Body Mass Index(BMI)</label>
                    <div class="col-sm-9">
                      <input class="form-control" type="number" step="any" id="bmi" name="bmi" required="required" placeholder="BMI value">
                      <span>if you want calucate BMI value,<a href="{{url_for('bmi')}}">Click here</a></span>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="ser" class="col-sm-3 col-form-label">Number of Children's</label>
                    <div class="col-sm-9">
                      <input class="form-control" type="number" step="any" id="ch" name="ch" required="required" placeholder="">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Smoker</label>
                    <div class="col-sm-4">
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="membershipRadios" id="a" value="1" checked>
                          Yes
                        </label>
                      </div>
                    </div>
                    <div class="col-sm-5">
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="membershipRadios" id="a" value="0">
                          No
                        </label>
                      </div>
                    </div>
                  </div> 

                  <div class="form-group row">
                    <label for="res" class="col-sm-3 col-form-label">Region</label>
                    <div class="col-sm-9">
                      <select class="form-control" id="re" name = "re" required="required" placeholder="">
                        <option value="1">southwest</option>
                        <option value="2">southeast</option>
                        <option value="3">northwest</option>
                        <option value="4">northeast</option>
                      </select>
                    </div>
                  </div>
                  
                  <button type="submit" class="btn btn-warning mr-2">Predict</button>
                  <button class="btn btn-light">Cancel</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        {% if prediction_text  %}
        <div class="col-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">Result</h2>
              <h4 class= "text-{{color}}" >
                {{ prediction_text }}
              </h4>
            </div>
          </div>
        </div>
        {% endif %}
      </div>

    {% include 'includes/footer.html' %}

</body>

</html>

