<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Kidney Disease Prediction</title>
  <<!-- plugins:css -->
  <link rel="stylesheet" href="{{url_for('static',filename='vendors/feather/feather.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='vendors/ti-icons/css/themify-icons.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='vendors/datatables.net-bs4/dataTables.bootstrap4.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='vendors/ti-icons/css/themify-icons.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='js/select.dataTables.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='css/vertical-layout-light/style.css')}}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static',filename='images/favicon/apple-touch-icon.png')}}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static',filename='images/favicon/favicon-32x32.png')}}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static',filename='images/favicon/favicon-16x16.png')}}">
  <link rel="manifest" href="{{url_for('static',filename='images/favicon/site.webmanifest')}}">
</head>
<body>
  <div class="container-scroller">

    {% include 'includes/navbar_topbar.html' %}

    <div class="main-panel">        
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h1 class="card-title">Get A Quick And Easy Kidney Disease Risk Assessment With Just One Click</h1>
                <p class="card-description">
                    Kidney disease is a medical condition that occurs when the kidneys fail to function properly. It can be caused by a range of factors such as diabetes, hypertension, infections, and autoimmune disorders. Early diagnosis and management of kidney disease can prevent the development of complications and improve the quality of life for patients.
                </p><br>
                <img src="{{url_for('static',filename='images/kidney.png')}}" width="500px" >
                <br>
                <p class="card-description">
                  &nbsp; Kidney disease is a condition where the kidneys are damaged and cannot function properly. Some common causes of kidney disease include high blood pressure, diabetes, and inflammation of the kidneys. Symptoms can vary depending on the stage of the disease, but can include fatigue, nausea, swelling, and decreased urine output. Early detection and treatment of kidney disease can help prevent further damage to the kidneys and potentially delay the need for dialysis or a kidney transplant.
                </p>        
                <div class="card-body">
                  <h4 class="card-title">Usage of Kidney Disease Prediction:</h4>
                  <ul class="list-ticked">
                    <li>Early diagnosis and treatment</li>
                    <li>Customized Treatment Plans</li>
                    <li>Monitoring disease progression</li>
                    <li>Patient Empowerment</li>
                    <li>overall understanding of the disease.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Please fill out below details.</h4>
                
                <form class="forms-sample" action="{{ url_for('kidney_predict')}}" method="POST">
        
                    <div class="form-group row">
                        <label for="bld" class="col-sm-3 col-form-label">Blood Pressure</label>
                        <div class="col-sm-9">
                        <input type="number" step="any" class="form-control" id="bld" required="required" >
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="ser" class="col-sm-3 col-form-label">Albumin</label>
                        <div class="col-sm-9">
                        <input type="number" step="any" class="form-control" id="ser" required="required">
                        </div>
                    </div>
            
                  
                    <div class="form-group row">
                        <label for="ma" class="col-sm-3 col-form-label">Blood Sugar Level</label>
                        <div class="col-sm-9">
                        <input step="any" type="number" class="form-control" id="mass" required="required">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="ma" class="col-sm-3 col-form-label">Blood Urea level</label>
                        <div class="col-sm-9">
                        <input step="any" type="number" class="form-control" id="mda" required="required">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="ma" class="col-sm-3 col-form-label">Haemoglobin Level</label>
                        <div class="col-sm-9">
                        <input step="any" type="number" class="form-control" id="ma" required="required">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="ma" class="col-sm-3 col-form-label">White Blood Cells Count</label>
                        <div class="col-sm-9">
                        <input step="any" type="number" class="form-control" id="mas" required="required">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="ma" class="col-sm-3 col-form-label">Red Blood Cells Count</label>
                        <div class="col-sm-9">
                        <input step="any" type="number" class="form-control" id="mda" required="required">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Hypertension Level</label>
                        <div class="col-sm-4">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="1" checked>
                              Yes
                            </label>
                          </div>
                        </div>
                        <div class="col-sm-5">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios2" value="0">
                              No
                            </label>
                          </div>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Appetite</label>
                        <div class="col-sm-4">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input type="radio" class="form-check-input" name="a" id="a" value="1" checked>
                              Yes
                            </label>
                          </div>
                        </div>
                        <div class="col-sm-5">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input type="radio" class="form-check-input" name="a" id="a" value="0">
                              No
                            </label>
                          </div>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Anemia</label>
                        <div class="col-sm-4">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input type="radio" class="form-check-input" name="b" id="b" value="1" checked>
                              Yes
                            </label>
                          </div>
                        </div>
                        <div class="col-sm-5">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input type="radio" class="form-check-input" name="b" id="b" value="0">
                              No
                            </label>
                          </div>
                        </div>
                      </div>
                  
                  <button type="submit" class="btn btn-warning mr-2">Predict</button>
                  <button class="btn btn-light">Cancel</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        {% if prediction_text  %}
        <div class="col-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">Result</h2>
              <h4 class= "text-{{color}}" >
                {{ prediction_text }}
              </h4>
            </div>
          </div>
        </div>
        {% endif %}
      </div>

    {% include 'includes/footer.html' %}

</body>

</html>

